.wrapperRestaurant {
  border-radius: 12px;
  overflow: hidden;
  font-size: 18px;

  & img {
    width: 100%;
  }

  & div {
    padding: 12px;
  }
}

.reviewForm {
  & label {
    font-weight: bold;
  }
  & input:not([type="range"]) {
    width: 100%;
    border-radius: 4px;
    border-color: lightgray;
    outline: 2px solid lightgray;
    margin: 12px 0;
    padding: 4px 8px;
  }

  & button {
    width: 100%;
    background-color: green;
    border-radius: 4px;
    color: white;
    padding: 8px;
    font-weight: bold;
  }

  & .range {
    width: 100%;
  }
}
